<section>
  <div class="wrapper background d-flex justify-content-center align-items-center">
      <div class="container mx-4">
        <div class="container-img d-flex text-center">
          <img src="assets/img/logoBlanco.png">
        </div>
        <h1 class="text-center py-5 font-weight-bold">Login</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div class="form-group mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="email" class="form-control" id="username" formControlName="username" placeholder="name@example.com">
          </div>
          
          <div class="form-group mb-3">
            <label for="exampleInputPassword1" class="form-label" in>Password</label>
            <input type="password" class="form-control text-white" id="exampleInputPassword1" formControlName="password" placeholder="***********" autocomplete="nope" placeholder="Password">
          </div>
  
          <div class="d-grid m-5">
            <button type="submit" class="btn btn-primary btn-lg fw-normal mb-5">Login</button>
          </div>
        </form>
      </div>
  </div>
</section>




