.visit{
  color:white;
  font-size:12px;
  background:#32333a;;
  width:146px;
  padding:6px;
  border-radius:10px;
  position:fixed;
  right:20px;
}

.tam-nav {
  height: 4.688rem;
}

.tam-font {
  font-size: 15px;
}