<app-header></app-header>
<div id="particles-js">
  <div class="container">
    <div class="row top">
      <div class="twelve column">
        <img class="mt-4 mb-2 ms-5" src="assets/img/logo.png" width="10%">
        <h1>MediMeet</h1>
        <h3>Your Health, Your Time, Our Priority.</h3>
      </div>
    </div>    
    <div class="row">
      <p>
        Welcome to Medimeet, where virtual healthcare meets artificial intelligence innovation! Feeling unwell but prefer staying at home?
        <br> No problem! Our app instantly connects you with a virtual general practitioner powered by artificial intelligence through secure and confidential video calls.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="footer">
      <p>Using <a href="https://www.engagedigital.ai/">Radisys</a></p>
    </div>
  </div>
</div>